body {
  background-color: hsl(0, 0%, 10%);
}
.to-do-list,
.user-form,
.todo-list-app,
.todo-input-form {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}
h1 {
  font-size: 2rem;
  color: white;
}
h2 {
  font-size: 1rem;
  color: white;
}
button {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button {
  background-color: hsl(125, 47%, 54%);
}
.add-button:hover {
  background-color: hsl(125, 47%, 44%);
}
.delete-button {
  background-color: hsl(10, 90%, 50%);
}
.delete-button:hover {
  background-color: hsl(10, 90%, 40%);
}
.edit-button {
  background-color: hsl(207, 90%, 64%);
}
.edit-button:hover {
  background-color: hsl(207, 90%, 54%);
}
.login-button {
  background-color: hsl(125, 47%, 54%);
}
.login-button:hover {
  background-color: hsl(125, 47%, 44%);
}
.register-button {
  background-color: hsl(207, 90%, 64%);
}
.register-button:hover {
  background-color: hsl(207, 90%, 54%);
}
.logout-button {
  background-color: hsl(10, 90%, 50%);
}
.logout-button:hover {
  background-color: hsl(10, 90%, 40%);
}
input[type="text"] {
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}
label {
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-align: center;
}
ol {
  padding: 0;
}
li {
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
form {
  width: "50%";
  padding: 1em;
  border-radius: 1em;
}

.delete-button,
.move-button,
.logout-button {
  padding: 8px 12px;
  font-size: 1rem;
  margin-left: 10px;
}
.box {
}
.center {
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 5px;
  background: #6b6905;
}
